header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #f1f1f1;
}

header h2.header-title {
  font-size: 16px;
  font-weight: 500;
}

header menu li {
  list-style: none;
}
