nav.menubar {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: 100;

  background: linear-gradient(to bottom, #f1f1f116, #f1f1f1de);
  backdrop-filter: blur(12px);
  display: flex;
  padding: 24px;
  border: 2px solid #fff;
  border-radius: 24px;
  box-shadow: 0 16px 16px #00000012;
}

nav.menubar menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.menubar menu li {
  list-style: none;
  opacity: 0.3;
  transition: .3s;
}

nav.menubar menu li:hover {
  opacity: 1;
}

@media screen and (min-width: 720px) {
  nav.menubar menu {
    justify-content: center;
    gap: 124px;
  }
}
