* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
  font-weight: 300;
}

:root {
  --primary-color: #CF781A;
  --primary-color-light: #F9F2EA;
  --primary-color-border: #E8B47C;
}

body {
  font-family: Inter, Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
